<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/scripts.js"></script>
  </head>
  <body>
    <header>
      {{{h1}}}
    </header>

    <nav>
      <a href="/">Home</a>
      |
      <a href="/DistributionCenters">DistributionCenters</a>
      |
      <a href="Inventories">Inventories</a>
      |
      <a href="Products">Products</a>
      |
      <a href="Models">Models</a>
      |
      <a href="Colors">Colors</a>
      |
      <a href="TransferredProducts">TransferredProducts</a>
      |
      <a href="TransferReports">TransferReports</a>
      |
      <a href="Stores">Stores</a>
    </nav>
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>Footwear Distro &copy; 2023 Jacky Kuang, Tony Chan</p>
    </footer>
  </body>
</html>